beautifulsoup4
boto3
coreapi
cryptography
Django
django-filter
django-oauth-toolkit
djangorestframework
djangorestframework-jwt
gunicorn
jsonfield
markdown
pillow
Pygments
psycopg2
python-magic
rawkit
requests
stegano
