$background-dark-color: #262626;
$background-dark-border: #343434;

$background-secondary-color: #f8f8fa;
$background-secondary-border: #bec0c1;

$background-tertiary-color: #bad1e3;
$background-tertiary-border: #abc0d2;

$background-dark-transparent: rgba(26, 26, 26, 0.8);

$foreground-light-color: #eaeaea;
$foreground-dark-color: #262626;

$foreground-primary-color: #0094ce;
$foreground-primary-color--highlight: #0aa3e5;
$foreground-primary-color--active: #0283b6;
$foreground-primary-color--border: #007faf;

$foreground-secondary-color: #00b8f1;
$foreground-tertiary-color: #cef5ff;

$disabled-foreground-color: #454545;
$disabled-background-color: #b6b6b6;

$blue-active: #5b95f9;

$primary-text-color: #03374a;
$secondary-text-color: #c1dad6;

// Content widths
$default-content-width: 100%;
$desktop-content-width: 970px;
$max-content-width: 1170px;

$mobile-breakpoint: 620px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$color-background-gray: #edebeb;
$color-background-white: #fcfcfc;
$color-background-border: #c3c3c3;

$color-text-black: #0d0f0f;
$color-text-black-highlight: #1d2121;
$color-text-gray: #333333;
$color-shadow: rgba(77, 87, 87, 0.75);

// Button - Primary
$color-button-primary-background: #0094ce;
$color-button-primary-foreground: #FCF5EB;
$color-button-primary-hover: #0AA3E5;
$color-button-primary-active: #0283B6;
$color-button-primary-border: #007FAF;
$color-button-primary-clicked: #036084;

// Button - Secondary
$color-button-secondary-background: #758f97;
$color-button-secondary-foreground: #FCF5EB;
$color-button-secondary-hover: #7e9daa;
$color-button-secondary-active: #617780;
$color-button-secondary-border: #507687;
$color-button-secondary-clicked: #414f57;

// Button - danger
$color-button-danger-background: #AB2F2F;
$color-button-danger-foreground: #FCF5EB;
$color-button-danger-hover: #d21919;
$color-button-danger-active: #921313;
$color-button-danger-border: #a71d1d;
$color-button-danger-clicked: #902424;

// Button - Disabled
$color-button-disabled-background: #969a9c;
$color-button-disabled-foreground: #FCF5EB;
$color-button-disabled-border: #7b8389;
$color-button-disabled-clicked: #596166;

$background-gradient-angle: 156deg;
$color-background-transparent: rgba(21, 83, 104, 0.75);

//$color-primary-background: #2F8CAB;
$color-primary-background-light: rgb(192, 218, 227);
$color-primary-background-mid: rgba(47,140,171,1);
$color-primary-background-dark: rgb(40, 100, 123);
$color-primary-background: linear-gradient($background-gradient-angle, $color-primary-background-dark 0%, $color-primary-background-mid 20%, $color-primary-background-light 100%);
$color-primary-background-hover: linear-gradient($background-gradient-angle, $color-primary-background-dark 0%, $color-primary-background-mid 62%, $color-primary-background-light 100%);
$color-primary-background-active: linear-gradient($background-gradient-angle, $color-primary-background-light 0%, $color-primary-background-mid 47%, $color-primary-background-dark 100%);
$color-primary-border: #1d84a7;
$color-primary-foreground: #FCF5EB;

//$color-secondary-background: #7195A3;
$color-secondary-background-light: rgb(210, 227, 241);
$color-secondary-background-mid: rgb(113, 149, 163);
$color-secondary-background-dark: rgb(97, 119, 128);
$color-secondary-background: linear-gradient($background-gradient-angle, $color-secondary-background-dark 0%, $color-secondary-background-mid 20%, $color-secondary-background-light 100%);
$color-secondary-background-hover: linear-gradient($background-gradient-angle, $color-secondary-background-dark 0%, $color-secondary-background-mid 62%, $color-secondary-background-light 100%);
$color-secondary-background-active: linear-gradient($background-gradient-angle, $color-secondary-background-light 0%, $color-secondary-background-mid 47%, $color-secondary-background-dark 100%);
$color-secondary-border: #466573;
$color-secondary-foreground: #FCF5EB;


// Gray scale
$color-gray-light: #d3d5d5;
$color-gray-medium: #969a9c;
$color-gray-dark: #596166;

// Messaging

// Error
$color-background-error: rgb(171, 47, 47);
$color-border-error: #a71d1d;
$color-text-error: #d21919;
$color-hover-error: rgb(184, 51, 51);
$color-active-error: rgb(147, 36, 36);

// Warning
$color-background-warning: rgb(193, 196, 16);
$color-border-warning: #bfb614;
$color-text-warning: #d2cf19;
$color-hover-warning: rgb(216, 219, 31);
$color-active-warning: rgb(174, 177, 13);

// Info
$color-background-info: rgb(47, 102, 161);
$color-border-info: #1d7ba7;
$color-text-info: #1991d2;
$color-hover-info: rgb(58, 116, 180);
$color-active-info: rgb(36, 85, 137);

// Success
$color-background-success: rgb(58, 161, 47);
$color-border-success: #26a71d;
$color-text-success: #41d219;
$color-hover-success: rgb(75, 193, 62);
$color-active-success: rgb(46, 139, 35);

$color-date-normal: #172a40;
$color-date-initial: #187610;
$color-date-final: #901818;
