$blue-active: #5b95f9;

$primary-text-color: #F5FAFA;
$secondary-text-color: #C1DAD6;

// Content widths
$default-content-width: 100%;
$desktop-content-width: 970px;

$desktop-breakpoint: 768px;

$background-transition-time: 400ms;
